.galeria {
    text-align: center;
    padding: 20px;
}

.categorias {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.categoria {
    background-color: #E2725B; /* Color terracota */
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
}

.categoria img {
    width: 100%;
    border-radius: 10px;
}
